<a href="https://colab.research.google.com/github/solangecdh3/assignment_1/blob/main/assignments/assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 1 -  Basic Visualization

## *Solange Holman*
Netid: sh143991

Note: this assignment falls under collaboration Mode 2: Individual Assignment – Collaboration Permitted. Please refer to the syllabus on Canvas for additional information.

Instructions for all assignments can be found [here](https://github.com/kylebradbury/ids705/blob/master/assignments/_Assignment%20Instructions.ipynb), and is also linked to from the [course syllabus](https://kylebradbury.github.io/ids705/index.html).

Total points in the assignment add up to 90; an additional 10 points are allocated to presentation quality.

#  Learning Objectives
The purpose of this assignment is to provide practice in fundamental concepts that we will use throughout this course. By completing this assignment, you will...
- Practice numerical programming by loading and filtering data.
- Learn to visuzalize and perform basic statistics on the data.
- Apply your skills altogether through an exploratory data analysis to practice data cleaning, data manipulation, interpretation, and communication

We will build on these concepts throughout the course, so use this assignment as a catalyst to deepen your knowledge and seek help with anything that is unfamiliar.

*Note: for all assignments, write out all equations and math using markdown and [LaTeX](https://tobi.oetiker.ch/lshort/lshort.pdf). For this assignment show ALL math work*

**ANSWER**

# I/O and Numerical Programming

## 1
**[40 points]** Loading data and gathering insights from a real dataset

In data science, we often need to find relevant resources and learn how to ask the appropriate questions (let's be honest....using Google) to find those resources. In this assignment you will be challenged to learn to use another Python data analysis library called `Pandas`.  This library is useful for organizing data into rows and columns making it easy to clean, analyze, and manipulate data. You've been introduced to it in class, but that challenge here it to use what you've learned so far and apply it to another new library.  Ready?? Here we go!   


**Data**. The data for this problem can be found in two places. One is a simple install. The data can also be found in the `data` subfolder in the `assignments` folder on [github](https://github.com/lucywowen/csci591_CCN). The filename is `penguins.csv`. You'll use both to practice `pip install` and loading a csv file!


This dataset consists of 7 columns.

- species: penguin species (Chinstrap, Adélie, or Gentoo)
- bill_length_mm: bill length (mm)
- bill_depth_mm: bill depth (mm)
- flipper_length_mm: flipper length (mm)
- body_mass_g: body mass (g)
- island: island name (Dream, Torgersen, or Biscoe) in the Palmer Archipelago (Antarctica)
- sex: penguin sex



**Your objective**. For this dataset, your goal is to follow these instructions and answer the following questions:

_The following questions are work 2 points each._

**(a)** Load the penguins dataset using `!pip install palmerpenguins`.  Load the library using `from palmerpenguins import load_penguins` and then load the data using `penguins = load_penguins()`.  


**(b)** Now you have the data in a `pandas.DataFrame`! Confirm that using a function we've discussed in class.

**(c)** Use a new method (look it up) to return the first 10 rows of the dataset.  

**(d)** Ok, now let's try to load the data another way.  This time, try to load the data from the `data` subfolder in the `assignments` folder on [github](https://github.com/lucywowen/csci191_ProgSci/tree/main/data). The filename is `penguins.csv`.  This can be tricky!  Particularly since we're working with Colab at the moment... look up how to upload the data to Colab (there are LOTS of ways to do this!) Once you do that, import the data using `pandas.read_csv()` methods and store the data in a new variable called `penguins_uploaded`. _If this is too difficult, just use the `penguins` data from part **a** for part the remaining questions._  

**(e)**  `penguins_uploaded` is the same data as `penguins` in part **a** (no trickery, I promise!) but let's check ... use the `.equals()` method to confirm that.  

**(f)** Assess the missing values in the data. Return a count of the NA values by column.

**(g)** Ok now return a count of the number samples for each species.  

**(h)** After that, use the `.dropna()` to remove any rows with missing values and store the new cleaned dataframe as `penguins_cleaned`. Again, return a count of the number samples for each species for `penguins_cleaned`. What's the difference?

**(i)** Let's do some basic stats.  Use the `.describe()` method to return some descriptive statistics on the data. If you use this method on the full dataframe, do you notice any columns that are missing?  Why do you think that is?

**(j)** Convert the `body_mass_g` values from grams to kg.  

**(bonus +1 point)** Convert the categorical `sex` variable to numerical and rerun the `.describe()` method.  What do you notice about the output?

**ANSWER**

**Loading the Penguins dataset**

In [1]:
!pip install palmerpenguins

Collecting palmerpenguins
  Downloading palmerpenguins-0.1.4-py3-none-any.whl.metadata (2.0 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (from palmerpenguins) (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (from palmerpenguins) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas->palmerpenguins) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas->palmerpenguins) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas->palmerpenguins) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas->palmerpenguins) (1.17.0)
Downloading palmerpenguins-0.1.4-py3-none-any.whl (17 kB)
Installing collected packages: palmerpenguins
Successfully installed palmerpenguins-0.1.4

**Confirming the dataframe**

In [27]:
import pandas as pd
from palmerpenguins import load_penguins
penguins = load_penguins()
print(type(penguins))

<class 'pandas.core.frame.DataFrame'>

**First 10 rows of dataset and additional info about the dataframe**

In [6]:
penguins.head(10)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,male,2007
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,female,2007
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,male,2007
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN,2007
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN,2007

In [13]:
pd.DataFrame.info(penguins)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
 7   year               344 non-null    int64
dtypes: float64(4), int64(1), object(3)
memory usage: 21.6+ KB

**Missing values in columns**

In [16]:
print(penguins.isna().sum())

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

**Removing missing values from dataset**

In [23]:
before_clean = penguins['species'].value_counts()
print(before_clean)

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

In [24]:
penguins_cleaned = penguins.dropna()
after_clean = penguins_cleaned['species'].value_counts()
print(after_clean)

species
Adelie       146
Gentoo       119
Chinstrap     68
Name: count, dtype: int64

**Difference before and after cleaning dataset**

In [25]:
difference = before_clean - after_clean
print(difference)

species
Adelie       6
Gentoo       5
Chinstrap    0
Name: count, dtype: int64

**Descriptive statistics on dataset**

In [28]:
print(penguins.describe())

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g  \
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

              year
count   344.000000
mean   2008.029070
std       0.818356
min    2007.000000
25%    2007.000000
50%    2008.000000
75%    2009.000000
max    2009.000000

**Adding body mass in kg**

In [30]:
penguins['body_mass_kg'] = penguins['body_mass_g'] / 1000
print(penguins['body_mass_kg'])

0      3.750
1      3.800
2      3.250
3        NaN
4      3.450
       ...
339    4.000
340    3.400
341    3.775
342    4.100
343    3.775
Name: body_mass_kg, Length: 344, dtype: float64

It does not include columns that are non-numerical. You cannot run statistics on non-numerical values.

**Assigning numerical values to the sex column**

In [32]:
penguins['sex_numeric'] = penguins['sex'].map({'male': 0, 'female': 1})
penguins.head(10)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,body_mass_kg,sex_numeric
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3.750,0.0
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.800,1.0
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.250,1.0
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.450,1.0
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,male,2007,3.650,0.0
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,female,2007,3.625,1.0
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,male,2007,4.675,0.0
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN,2007,3.475,NaN
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN,2007,4.250,NaN

**New descriptive statistics with numerical sex data**

In [33]:
print(penguins.describe())

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g  \
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

              year  body_mass_kg  sex_numeric
count   344.000000    342.000000   333.000000
mean   2008.029070      4.201754     0.495495
std       0.818356      0.801955     0.500732
min    2007.000000      2.700000     0.000000
25%    2007.000000      3.550000     0.000000
50%    2008.000000      4.050000     0.000000
75%    2009.000000      4.750000     1.000000
max    2009.000000      6.300000     1.000000

There is now a statistical column for the sex of the penguin, since we assigned males a value of 0, and females a value of 1.

# Visualization

## 2
**[40 points]** Visualization

In data science, we often need to have a sense of the idiosyncrasies of the data, how they relate to the questions we are trying to answer, and to use that information to help us to determine what approach we may need to apply to achieve our goal. This exercise provides practice in exploring a dataset and answering question that might arise from applications related to the data.


**Data**. Use the `penguins_cleaned` dataframe for the following questions


**Your objective**. For this dataset, your goal is to follow these instructions and answer the following questions:

_The following questions are work 5 points each._

**(a)** Plot a bar plot of the number of samples from each species. There are a LOT of ways to do this!  Try at least 2 (for example... you can use the pandas `.plot()` method, you can use `matplotlib.pyplot`, and you can use a cool library called `seaborn`).  

**(b)** On the sample plot, create boxplots for the variables: `'bill_length_mm'` `'bill_depth_mm'` `'flipper_length_mm'`.

**(c)** On the sample plot, create violin plots for the variables: `'bill_length_mm'` `'bill_depth_mm'` `'flipper_length_mm'`.  How is this different from the boxplots?  What do we gain from this?

**(d)** Plot a scatterplot with the `'bill_length_mm'` on the x-axis and `'bill_depth_mm'` on the y-axis, and the points colored by species.   

**(bonus +1 point)**  Add regression lines by species to this scatterplot!

**ANSWER**

# Exploratory Data Analysis
## 3
**[10 points]** Your goal is to explore the [datasets available](https://github.com/lucywowen/csci191_ProgSci/tree/main/data/prog_sci_data) and identify questions or problems you're interested in working with.  

1. Find 2 datasets that interest you from [here](https://github.com/lucywowen/csci191_ProgSci/tree/main/data/prog_sci_data).

2. For each of the 2 datasets, describe the dataset, the source of the data, and the reason the dataset was of interest. What question are you hoping to answer through exploring the dataset?

**ANSWER**